// @stylint off
// TODO These resets are deprecated!
$reset-ul
	margin 0

$reset-ul-li
	padding 0
	margin 0
	background none

$reset-ol
	@extend $reset-ul
	counter-reset none

$reset-ol-li
	@extend $reset-ul-li
	position static
	&:before
		content normal
		counter-increment none
		position static
		top auto
		left auto

$grid
	display block // IE 10 hack
	display flex
	flex-wrap wrap
	.no-flexwrap &
		font-size 0
		@media $MQ.webkit
			letter-spacing -1px

$grid__cell
	display block // IE 10 hack
	flex-basis 0
	flex-grow 1
	max-width 100%
	.no-flexwrap &
		display inline-block
		vertical-align top
		font-size 1rem
		letter-spacing normal
		white-space normal

$grid--scroll
	position relative
	flex-wrap nowrap
	overflow hidden
	overflow-x auto
	.js &
		overflow-x hidden
	.no-flexwrap &
		white-space nowrap
// @stylint on
