// Grid
// $bps sample ('sm' 'md' 'lg' 'xl')
generateGridSize($columns = $gridColumns, $bps = $breakpoints, $auto = true, $autoGrow = true)
	if $auto
		&--auto
			flex 0 0 auto
			width auto
			max-width none
	if $autoGrow
		&--autogrow
			flex 1 0 auto
			width auto
			max-width none
	for $column in 1..$columns
		&{'--' + $column + '-' + $columns}
			flex-basis unit(100 / $columns * $column, '%')
			max-width unit(100 / $columns * $column, '%')
	for $bp in $bps
		@media $MQ[$bp + 'Up']
			if $auto
				&--auto
					+suffix($bp)
						flex 0 0 auto
						width auto
						max-width none
			if $autoGrow
				&--autogrow
					+suffix($bp)
						flex 1 0 auto
						width auto
						max-width none
			for $column in 1..$columns
				&{'--' + $column + '-' + $columns}
					+suffix($bp)
						flex-basis unit(100 / $columns * $column, '%')
						max-width unit(100 / $columns * $column, '%')

generateGridSizeAuto()
	&--auto
		+generateBreakpoints()
			flex 0 0 auto
			width auto
			max-width none

generateGridSizeAutoGrow()
	&--autogrow
		+generateBreakpoints()
			flex 1 1 auto
			width auto
			max-width none

generateGridPush($columns = $gridColumns, $bps = $breakpoints)
	for $column in 1..$columns
		&{'--' + $column + '-' + $columns}
			left unit(100 / $columns * $column, '%')
	for $bp in $bps
		@media $MQ[$bp + 'Up']
			for $column in 1..$columns
				&{'--' + $column + '-' + $columns}
					+suffix($bp)
						left unit(100 / $columns * $column, '%')

generateGridPull($columns = $gridColumns, $bps = $breakpoints)
	for $column in 1..$columns
		&{'--' + $column + '-' + $columns}
			left unit(-100 / $columns * $column, '%')
	for $bp in $bps
		@media $MQ[$bp + 'Up']
			for $column in 1..$columns
				&{'--' + $column + '-' + $columns}
					+suffix($bp)
						left unit(-100 / $columns * $column, '%')

generateGridOrder($columns = $gridColumns, $bps = $breakpoints)
	for $column in 1..$columns
		&{'--' + $column}
			order $column
	for $bp in $bps
		@media $MQ[$bp + 'Up']
			for $column in 1..$columns
				&{'--' + $column}
					+suffix($bp)
						order $column


// Suffix
suffix($suffix, $delimiter = '\@')
	&{$delimiter + $suffix}
		{block}


/* Breakpoints */
generateBreakpoints($bpUp = true, $bpDown = false, $bpOnly = false, $bps = $breakpoints)
	$bpsReversed = ''
	for $bp in $bps
		unshift($bpsReversed, $bp)
	$nonsense = pop($bpsReversed) // hack

	{block}

	// generates @xx classes (from a breakpoint up) - default
	if $bpUp
		for $bp, $i in $bps
			@media $MQ[$bp + 'Up']
				+suffix($bp)
					{block}

	// TODO
	// generates @xxDown classes (from a breakpoint down) - optional
	if $bpDown
		for $bp, $i in $bpsReversed
			@media $MQ[$bp + 'Down']
				+suffix($bp + 'Down')
					{block}

	// generates @xxOnly classes (just the breakpoint) - optional
	if $bpOnly
		@media (max-width: $BP[$bps[0] + 'Down'] * 1px)
			+suffix($bpNames[index($bpNames, $bps[0]) - 1] + 'Only')
				{block}
		for $bp, $i in $bps
			if $i < length($bps) - 1
				@media (min-width: $BP[$bp + 'Up'] * 1px) and (max-width: $BP[$bps[$i+1] + 'Down'] * 1px)
					+suffix($bp + 'Only')
						{block}
			else
				@media $MQ[$bp + 'Up']
					+suffix($bp + 'Only')
						{block}


// Flexbox not supported
no-flex()
	.no-flexwrap &
		{block}

// Text Alignment and Transformation classes
text-truncate()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

text-hide()
	font 0/0 a
	color transparent
	text-decoration none

// Clearfix
clearfix()
	&:before
	&:after
		content ''
		display table
	&:after
		clear both

ctx()
	display table-cell
	&:after
		clear both
		display block
		visibility hidden
		overflow hidden
		height 0
		line-height 0
		font-size xx-large
		content ' x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x '


// Hiding content
vhide()
	position absolute
	width 1px
	height 1px
	padding 0
	margin -1px
	overflow hidden
	clip rect(0 0 0 0)
	border 0


// Size
size($width = false, $height = false)
	if unit($width) is ''
		$width = unit($width, 'px')

	if $height
		if unit($height) is ''
			$height = unit($height, 'px')
		width $width
		height $height
	else
		width $width
		height $width

// Triangle
// @stylint off
triangle($direction = 'down', $width = 10px, $height = 10px, $color = $colorText)
	width 0
	height 0
	border-style solid
	directions = {
		up: {
			border-width: 0 ($width * .5) $height ($width * .5),
			border-color: transparent transparent $color transparent
		},
		down: {
			border-width: $height ($width * .5) 0 ($width * .5),
			border-color: $color transparent transparent transparent
		},
		left: {
			border-width: ($height * .5) $width ($height * .5) 0,
			border-color: transparent $color transparent transparent
		},
		right: {
			border-width: ($height * .5) 0 ($height *.5) $width,
			border-color: transparent transparent transparent $color
		},
		up-left: {
			border-width: $height $width 0 0,
			border-color: $color transparent transparent transparent
		},
		down-left: {
			border-width: $width 0 0 $height,
			border-color: transparent transparent transparent $color
		},
		up-right: {
			border-width: 0 $width $height 0,
			border-color: transparent $color transparent transparent
		},
		down-right: {
			border-width: 0 0 $height $width,
			border-color: transparent transparent $color transparent
		}
	}
	styles = directions[$direction]
	{styles}
// @stylint on










// Convert pixels to fluid units
rem($pixels)
	return $pixels / 16 * 1rem

em($pixels, $content-font-size = 16)
	return $pixels / $content-font-size * 1em


// # Fluid scaling
// usage:
//   font-size: fluid-scaling(30, 60, 320, $MQ.mdMax)
//   - min and max value in px without unit
//   - min viewport width in pixels without unit
//   - max breakpoint specified via $BP.xxDown variable
// note: the colon after the property name is required as Stylus is buggy...

// @stylint off
fluid-scaling($min-font-size, $max-font-size, $min-vw, $max-bp)
	return 'calc(%s + %s * (100vw - %s) / %s)' % ( \
			($min-font-size * 1px) \
			($max-font-size - $min-font-size) \
			($min-vw * 1px) \
			($max-bp - $min-vw) \
		)
// @stylint on


// # Different focus styling for different input methods
using-not-keyboard()
	[data-whatintent='mouse'] &
	[data-whatintent='touch'] &
		{block}

using-keyboard()
	[data-whatintent='keyboard'] &
		{block}


// # Different :hover styling for diferent input methods
hover()
	[data-cantouch="false"] &:hover
		{block}


// # Inert elements
// This together with InertElements.js disables focus
// and pointer/touch events on elements and subitems.

inert($inert = true)
	if $inert
		\-\-inert inert
		user-select none
		pointer-events none
	else
		\-\-inert default
		user-select auto
		pointer-events auto
