// @stylint off
// @-ms-viewport
// width device-width

/* Document
========================================================================== */

html
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%


/* Sections
========================================================================== */

article
aside
footer
header
nav
section
main
	display block


/* Grouping content
========================================================================== */

figcaption
figure
main
	display block

figure
	margin 0

// http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
pre
	font-family monospace, monospace
	font-size 1em


/* Text-level semantics
========================================================================== */

a
	background-color transparent
	-webkit-text-decoration-skip objects

abbr[title]
	border-bottom none
	text-decoration underline
	text-decoration underline dotted

b
strong
	font-weight bold

code
kbd
samp
	font-family monospace, monospace
	font-size 1em

dfn
	font-style italic

mark
	background #ff0
	color #000

small
	font-size 80%

sub
sup
	font-size 75%
	line-height 0
	position relative
	vertical-align baseline

sub
	bottom -.25em

sup
	top -.5em


/* Embedded content
========================================================================== */

audio
video
	display inline-block

audio:not([controls])
	display none
	height 0

img
	border 0

svg:not(:root)
	overflow hidden


/* Forms
========================================================================== */

button
input
optgroup
select
textarea
	margin 0
	// outline 0 // This is a pure evil

button
input
	overflow visible

button
select
	text-transform: none

button
html [type='button']
[type='reset']
[type='submit']
	cursor pointer
	-webkit-appearance button

button::-moz-focus-inner
[type='button']::-moz-focus-inner
[type='reset']::-moz-focus-inner
[type='submit']::-moz-focus-inner
	border 0
	padding 0

legend
	box-sizing border-box
	color inherit
	display table
	max-width 100%
	padding 0
	white-space normal

progress
	display inline-block
	vertical-align baseline

textarea
	overflow auto

input[type='checkbox']
input[type='radio']
	box-sizing border-box
	padding 0

[type='number']
	-moz-appearance textfield
	&::-webkit-inner-spin-button
	&::-webkit-outer-spin-button
		appearance none
		margin 0
		height auto

[type='search']
	-webkit-appearance textfield

[type='search']::-webkit-search-cancel-button
[type='search']::-webkit-search-decoration
	-webkit-appearance none

::-webkit-file-upload-button
	-webkit-appearance button
	font inherit


/* Interactive
========================================================================== */

details
menu
	display block

summary
	display list-item


/* Scripting
========================================================================== */

canvas
	display inline-block

template
	display none


/* Hidden
========================================================================== */

[hidden]
	display none


/* Custom SK
========================================================================== */

body
	margin 0

// This is a pure evil
// a:focus
// 	outline 0

pre
	white-space pre
	white-space pre-wrap
	word-wrap break-word

img
iframe
object
embed
svg
	vertical-align middle

fieldset
	border 0
	margin 0
	padding 0

[disabled]
	cursor default

// @stylint on
