// # Lists resets

// TODO - mixin is not yet ready
// list-unstyled() {
// 	list-style-image url(svg-inline('<svg></svg>'))
// 	margin 0
// 	padding 0
// 	> li
// 		margin 0
// 		padding 0

// ul.list-unstyled
// 	list-unstyled()

// ul.list-unstyled-inline
// 	list-unstyled()
// 	> li
// 		display inline-block


dl.list-unstyled
	margin 0
	>, > * >
		dt, dd
			margin 0


// # Reset default browser styles for buttons

button-reset($color-inherit = true)
	appearance none
	display inline-block
	padding 0
	border 0
	border-radius 0
	background none
	font inherit
	line-height inherit
	text-align inherit

	if $color-inherit
		color inherit
