// @stylint off
html
	font normal $fontSize/$lineHeight $fontPrimary
	color $colorText

// Titles
h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
	// font-family $fontSecondary
	font-weight 900
	line-height (40/30)
	margin ($typoSpaceVertical / 2) 0 ($typoSpaceVertical / 4)

h1
.h1
	font-size 40px
	line-height (48/40)
h2
.h2
	font-size 30px
	font-weight 500
h3
.h3
	font-size 20px
h4
.h4
	font-size 18px
h5
.h5
	font-size 14px
h6
.h6
	font-size 12px

// Paragraph
p
	margin 0 0 $typoSpaceVertical
hr
	border 0
	border-top 1px solid $colorBd
	margin 40px 0
	height 1px
	overflow hidden

// Blockquote
blockquote
	margin 0 0 $typoSpaceVertical
	padding 0
	p
		margin 0

// Links
a
	color $colorLink
	tap-highlight-color rgba($colorBlack, 0)
	text-decoration underline
	transition color $t
	.no-touchevents &:hover
		color $colorHover


// Lists
ul.t-list
ol.t-list
dl.t-list
	margin 0 0 $typoSpaceVertical
	list-style none
	padding 0
	li
		padding 0 0 0 20px
		margin 0 0 ($typoSpaceVertical/4)
ul.t-list
	li
		background url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPjxwYXRoIGZpbGw9IiMwMTAyMDIiIGQ9Ik0wIDBoNHY0SDB6Ii8+PC9zdmc+') 5px .5em no-repeat
		background-size 4px 4px
ol.t-list
	counter-reset item
	li
		position relative
		&:before
			content counter(item)'.'
			counter-increment item
			position absolute
			top 0
			left 0
	ol
		li
			&:before
				content counter(item, lower-alpha)'.'

dl.t-list
	dt
		font-weight bold
		margin 0
	dd
		margin 0 0 ($typoSpaceVertical/2)
		padding 0

// Tables
table.t-table
	width 100%
	clear both
	margin 0 0 $typoSpaceVertical
	empty-cells show
	border-collapse collapse
	border-spacing 0
	border 1px solid $colorBd

	caption
		font-weight bold
		text-align left
		padding 0 0 10px
		caption-side top
	td
	th
		vertical-align top
		padding 15px 20px
		border 1px solid $colorBd
	th
		font-weight bold
		text-align left
	thead th
		background $colorBg

// Image
figure
	margin-bottom $typoSpaceVertical
figcaption
	margin-top .5em

@media $MQ.xlMax
	img
		max-width 100%
		height auto
// @stylint on
