{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Prihlásenie k odberu noviniek' %}
{% set pageDescription = 'Prihláste sa na odber noviniek a žiadna akčná letenka ani super dovolenka Vám už neujde.' %}

{% block content %}

	<main role="main" id="obsah" class="main u-no-visual-focus" tabindex="-1">

		<div class="row-main">
			<div class="b-subscribe">
				<h1 class="b-subscribe__heading">Chcete vedieť o super ponukách medzi prvými?</h1>
				<p class="b-subscribe__lead u-mb-xs">
					Prihláste sa na odber noviniek a žiadna akčná letenka ani super dovolenka Vám už neujde.
				</p>
				<form class="f-subscribe" action="?" method="post" data-form-subscribe>
					<fieldset>
						<legend><span class="u-vhide">Prihlásenie k odberu noviniek</span></legend>

						<!-- IF START -->
						<!-- Zobrazovat vždy právě jednu z následujících možností: -->
						<!-- Když se nemá zobrazit žádná hláška - aby se neměnila výška, což design naznačuje -->
						<div class="message message--placeholder u-mb-xxs"></div>
						<!-- Chyba uživatele nebo serveru -->
						<p role="alert" class="message message--error u-mb-xxs">Zadajte správny tvar e-mailovej adresy, napr. anna@mail.sk</p>
						<!-- Úspěšné odeslaný formulář -->
						<p role="alert" class="message message--ok u-mb-xxs">Prihlásenie k odberu noviniek prebehlo úspešne</p>
						<!-- IF END -->

						<div class="f-subscribe__inner">
							<p class="f-subscribe__email">
								<label for="input-email" class="u-vhide">Váš email</label>
								<input id="input-email"
								type="email"
								name="email"
								autocomplete="email"
								class="inp-text"
								placeholder="Zadajte svoj email..."
								required>
							</p>
							<p class="f-subscribe__terms inp-checkbox-row">
								<input id="input-terms-agree" type="checkbox" name="terms-agree" value="agree" required>
								<label for="input-terms-agree">
									Súhlasím s
									<a href="https://www.pelikan.sk/sk/vseobecne-obchodne-podmienky" target="_blank" rel="noopener noreferrer">
										podmienkami používania
									</a>
									a
									<a href="https://www.pelikan.sk/sk/zasady-a-pravidla-ochrany-osobnych-udajov" target="_blank" rel="noopener noreferrer">
										ochranou osobných údajov
									</a>
								</label>
							</p>
							<p class="f-subscribe__send">
								<button type="submit" class="btn btn--primary btn--icon-only@smDown btn--smaller u-text-uppercase">
									<span class="btn__text">
										<span class="btn__label">Odoslat</span>
										{{ iconSVG('arrow-right', 'u-hide@sm') }}
									</span>
								</button>
							</p>
						</div>
					</fieldset>
				</form>
			</div>
		</div>

	</main>

{% endblock %}
