// html
// 	box-sizing border-box
// 	scroll-behavior smooth

*
*:before
*:after
	box-sizing inherit

&:first-child
	margin-top 0

body
	position relative
	min-width 320px
	// To fix IE min-height issue with flexbox
	display flex
	flex-flow column nowrap
	min-height 100vh

.site-container
	flex 1 0 100vh
	display flex
	flex-flow column nowrap

@import 'header'
@import 'footer'
@import 'main'
