.main
	flex 1 0 auto
	box-sizing border-box
	padding 40px 0 100px
	background #87b6cf url($img + 'bg/sky-1920x1200@1,5x.jpg') no-repeat 50% 50%
	background-image var(--bg-img)
	background-size cover
	\-\-bg-img url($img + 'bg/sky-480x800@1,5x.jpg')


	@media $MQ.mdUp
		padding 60px 100px

	// Background image varians
	@media (min-width: 481px), (min-height: 801px)
		\-\-bg-img url($img + 'bg/sky-800x1300@1,5x.jpg')
	@media (min-width: 801px) and (max-height: 1050px)
		\-\-bg-img url($img + 'bg/sky-1500x1050@1,5x.jpg')
	@media (min-width: 1501px), (min-height: 1051px)
		\-\-bg-img url($img + 'bg/sky-1920x1200@1,5x.jpg')
	@media (min-width: 1921px), (min-height: 1201px)
		\-\-bg-img url($img + 'bg/sky-2560x1440@1,5x.jpg')
