.b-subscribe
	padding 20px 15px
	border-radius 8px
	background $colorWhite
	box-shadow 0px 40px 60px rgba(0, 0, 0, 0.25)
	&__heading
		font-size 20px
	&__lead
		font-size 14px
		color $colorGray


	@media (min-width: 375px)
		padding 40px 30px

	@media $MQ.mdUp
		max-width 640px
		padding 50px 70px
		&__heading
			font-size 40px
		&__lead
			font-size 16px
