{% from "../macros/helpers.njk" import iconSVG %}
<!DOCTYPE html>
<html lang="sk" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }} | Pelikan.sk">
		<meta name="twitter:description" content="{{ pageDescription }}">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Pelikan.sk">
		<meta property="og:description" content="{{ pageDescription }}">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="{{ pageTitle }}">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Pelikan.sk</title>
		<meta name="description" content="{{ pageDescription }}">

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="https://cdn.pelikan.sk/app/whitelabels/styles.min.css">

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assets.images }}logo_144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ assets.images }}logo_114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="{{ assets.images }}logo_72.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57"   href="{{ assets.images }}logo_57.png">

		<script src="{{ assets.scripts }}modernizr.min.js"></script>
		<script>
			(function () {
				document.documentElement.classList.remove('no-js');
				document.documentElement.classList.add('js');
			}());
		</script>
	</head>
	<body>
		<p class="m-accessibility">
			<a href="#obsah">Prejsť k obsahu</a>
		</p>

		<div class="site-container">
			<header role="banner">
				<nav role="navigation">
					<div id="peli-whitelabel-header"
						data-market="sk"
						data-partner=""
						data-css-url="">
					</div>
				</nav>
			</header>

			{% block content %}{% endblock %}
		</div>

		<footer role="contentinfo">
			<div id="peli-whitelabel-footer"
				data-market="sk"
				data-partner=""
				data-css-url="">
			</div>
		</footer>

		<!--[if (gte IE 9) | (!IE)]><!-->
			<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
			<script>window.jQuery || document.write('<script src="{{ assets.scripts }}static/jquery-2.2.4.min.js">\x3C/script>')</script>
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find"></script>
			<script src="{{ assets.scripts }}app.js"></script>
			<script>
				App.run({})
			</script>
		<!--<![endif]-->

		<script type="application/javascript" src="https://cdn.pelikan.sk/app/whitelabels/app.min.js" async defer></script>
	</body>
</html>
