// @stylint off

u-margin-top($suffix = '')
	&-auto{$suffix}
		margin-top auto !important
	&-0{$suffix}
		margin-top 0 !important
	&-xxs{$suffix}
		margin-top ($gridGutter/4) !important
	&-xs{$suffix}
		margin-top ($gridGutter/2) !important
	&-sm{$suffix}
		margin-top $gridGutter !important
	&-md{$suffix}
		margin-top ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	margin-top ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	margin-top ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	margin-top ($gridGutter*5) !important
.u-mt
	u-margin-top()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-margin-top('\@' + $bp)


u-margin-bottom($suffix = '')
	&-auto{$suffix}
		margin-bottom auto !important
	&-0{$suffix}
		margin-bottom 0 !important
	&-xxs{$suffix}
		margin-bottom ($gridGutter/4) !important
	&-xs{$suffix}
		margin-bottom ($gridGutter/2) !important
	&-sm{$suffix}
		margin-bottom $gridGutter !important
	&-md{$suffix}
		margin-bottom ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	margin-bottom ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	margin-bottom ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	margin-bottom ($gridGutter*5) !important
.u-mb
	u-margin-bottom()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-margin-bottom('\@' + $bp)


u-margin-x($suffix = '')
	&-auto{$suffix}
		margin-left auto !important
		margin-right auto !important
	&-0{$suffix}
		margin-left 0 !important
		margin-right 0 !important
	&-xxs{$suffix}
		margin-left ($gridGutter/4) !important
		margin-right ($gridGutter/4) !important
	&-xs{$suffix}
		margin-left ($gridGutter/2) !important
		margin-right ($gridGutter/2) !important
	&-sm{$suffix}
		margin-left $gridGutter !important
		margin-right $gridGutter !important
	&-md{$suffix}
		margin-left ($gridGutter*2) !important
		margin-right ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	margin-left ($gridGutter*3) !important
	// 	margin-right ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	margin-left ($gridGutter*4) !important
	// 	margin-right ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	margin-left ($gridGutter*5) !important
	// 	margin-right ($gridGutter*5) !important
.u-mx
	u-margin-x()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-margin-x('\@' + $bp)


u-padding-top($suffix = '')
	&-0{$suffix}
		padding-top 0 !important
	&-xxs{$suffix}
		padding-top ($gridGutter/4) !important
	&-xs{$suffix}
		padding-top ($gridGutter/2) !important
	&-sm{$suffix}
		padding-top $gridGutter !important
	&-md{$suffix}
		padding-top ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	padding-top ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	padding-top ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	padding-top ($gridGutter*5) !important
.u-pt
	u-padding-top()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-padding-top('\@' + $bp)


u-padding-bottom($suffix = '')
	&-0{$suffix}
		padding-bottom 0 !important
	&-xxs{$suffix}
		padding-bottom ($gridGutter/4) !important
	&-xs{$suffix}
		padding-bottom ($gridGutter/2) !important
	&-sm{$suffix}
		padding-bottom $gridGutter !important
	&-md{$suffix}
		padding-bottom ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	padding-bottom ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	padding-bottom ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	padding-bottom ($gridGutter*5) !important
.u-pb
	u-padding-bottom()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-padding-bottom('\@' + $bp)


u-padding-x($suffix = '')
	&-0{$suffix}
		padding-left 0 !important
		padding-right 0 !important
	&-xxs{$suffix}
		padding-left ($gridGutter/4) !important
		padding-right ($gridGutter/2) !important
	&-xs{$suffix}
		padding-left ($gridGutter/2) !important
		padding-right ($gridGutter/2) !important
	&-sm{$suffix}
		padding-left $gridGutter !important
		padding-right $gridGutter !important
	&-md{$suffix}
		padding-left ($gridGutter*2) !important
		padding-right ($gridGutter*2) !important
	// &-lg{$suffix}
	// 	padding-left ($gridGutter*3) !important
	// 	padding-right ($gridGutter*3) !important
	// &-xl{$suffix}
	// 	padding-left ($gridGutter*4) !important
	// 	padding-right ($gridGutter*4) !important
	// &-xxl{$suffix}
	// 	padding-left ($gridGutter*5) !important
	// 	padding-right ($gridGutter*5) !important
.u-px
	u-padding-x()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			u-padding-x('\@' + $bp)

// @stylint on
