.m-accessibility
	box-sizing border-box
	position absolute
	left -5000px
	top 0
	a
		&:focus
		&:active
			display flex
			align-items center
			position absolute
			top 0
			left 5000px
			width 200px
			height 65px
			padding 10px 20px
			z-index 1100
			text-align center
			background $colorWhite
