// # row-main - serves as a container
.row-main
	clearfix()
	position relative
	margin 0 auto
	padding 0 $rowMainGutter
	max-width $rowMainWidth
	&--reset
		+generateBreakpoints(false, true, false)
			padding 0
			max-width none


// # GRID
/*
.grid
	@extend $reset-ol
	@extend $grid
	margin-left -($gridGutter)
	&__cell
		@extend $reset-ol-li
		@extend $grid__cell
		position relative
		border $gridGutter solid transparent
		border-width 0 0 0 $gridGutter
		&--top
			align-self flex-start
		&--middle
			align-self center
		&--bottom
			align-self flex-end
		&--eq
			display flex
			> *
				flex 1 1 auto

	// VARIANTS
	&--scroll
		@extend $grid--scroll

	// vertical alignment
	&--middle
		align-items center

	&--bottom
		align-items flex-end

	// horizontal alignment
	&--center
		justify-content center

	&--right
		justify-content flex-end

	&--space-between
		justify-content space-between

	// STATES
	// horizontal
	.no-flexwrap &--middle &__cell
		vertical-align middle

	.no-flexwrap &--bottom &__cell
		vertical-align bottom

	// vertical
	.no-flexwrap &--center &__cell
		text-align center

	.no-flexwrap &--right &__cell
		text-align right


// SIZES - works even without .grid

.size
	generateGridSize()


// GRID REORDERING

.push
	generateGridPush()

.pull
	generateGridPull()

.order
	generateGridOrder()


// GRID SPACING

grid-spacing-x($suffix = '')
	&--x-0{$suffix}
		margin-left 0
	&--x-0{$suffix} > &__cell
		border-left-width 0
	&--x-xs{$suffix}
		margin-left -($gridGutter/2)
	&--x-xs{$suffix} > &__cell
		border-left-width ($gridGutter/2)
	&--x-sm{$suffix}
		margin-left -$gridGutter
	&--x-sm{$suffix} > &__cell
		border-left-width $gridGutter
	&--x-md{$suffix}
		margin-left -($gridGutter*2)
	&--x-md{$suffix} > &__cell
		border-left-width ($gridGutter*2)
	// &--x-lg{$suffix}
	// 	margin-left -($gridGutter*3)
	// &--x-lg{$suffix} > &__cell
	// 	border-left-width ($gridGutter*3)
	// &--x-xl{$suffix}
	// 	margin-left -($gridGutter*4)
	// &--x-xl{$suffix} > &__cell
	// 	border-left-width ($gridGutter*4)
	// &--x-xxl{$suffix}
	// 	margin-left -($gridGutter*6)
	// &--x-xxl{$suffix} > &__cell
	// 	border-left-width ($gridGutter*6)

grid-spacing-y($suffix = '')
	&--y-xxs{$suffix}
		margin-bottom -($gridGutter/4)
	&--y-xxs{$suffix} > &__cell
		border-bottom-width ($gridGutter/4)
	&--y-xs{$suffix}
		margin-bottom -($gridGutter/2)
	&--y-xs{$suffix} > &__cell
		border-bottom-width ($gridGutter/2)
	&--y-sm{$suffix}
		margin-bottom -($gridGutter)
	&--y-sm{$suffix} > &__cell
		border-bottom-width $gridGutter
	&--y-md{$suffix}
		margin-bottom -($gridGutter*2)
	&--y-md{$suffix} > &__cell
		border-bottom-width ($gridGutter*2)
	// &--y-lg{$suffix}
	// 	margin-bottom -($gridGutter*3)
	// &--y-lg{$suffix} > &__cell
	// 	border-bottom-width ($gridGutter*3)
	// &--y-xl{$suffix}
	// 	margin-bottom -($gridGutter*4)
	// &--y-xl{$suffix} > &__cell
	// 	border-bottom-width ($gridGutter*4)
	// &--y-xxl{$suffix}
	// 	margin-bottom -($gridGutter*6)
	// &--y-xxl{$suffix} > &__cell
	// 	border-bottom-width ($gridGutter*6)

.grid
	grid-spacing-x()
	grid-spacing-y()
	for $bp in $breakpoints
		@media $MQ[$bp + 'Up']
			grid-spacing-x('\@' + $bp)
			grid-spacing-y('\@' + $bp)
*/
