.message
	font-size 15px
	font-weight 500
	> :last-child
		margin-bottom 0

	// VARIANTS
	&--placeholder:before
		content ''
		display inline-block

	&--error
		color $colorRed

	&--ok
		color $colorGreen

	&--warning
		color $colorOrange
