.f-subscribe
	&__inner
		position relative
	&__email
		.inp-text
			padding-right 60px
	&__terms
		margin-bottom 0
		color $colorGray
	&__send
		position absolute
		top 10px
		right 10px
		margin 0


	@media $MQ.smUp
		&__email
			.inp-text
				padding-right 150px
