.inp-checkbox-row
	position relative
	font-size 15px
	input[type='checkbox']
		position absolute
		z-index 1
		left -10px
		top -10px
		width 40px
		height 40px
		opacity 0
	label
		display block
		padding 0 30px
		&:before
		&:after
			content ''
			box-sizing border-box
			display block
			position absolute
			left 0
			top 0
			width 20px
			height 20px
		&:before
			border 1px solid $colorBd
			border-radius 3px
			background $colorWhite
			transition transform 100ms, background-color 100ms 100ms
		&:after
			background url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'><path fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M15.37 6.37l-7.5 7.5L4.5 10.5'/></svg>") no-repeat 50% 50%
			transform scale(.5)
			opacity 0
			transition transform 150ms, opacity 150ms

	input[type='checkbox']:focus + label
		&:before
			border-color $colorPrimary
			+using-keyboard()
				outline 1px solid $colorPrimary
				outline-offset 1px

	input[type='checkbox']:checked + label
		&:before
			border-color $colorPrimary
			background $colorPrimary
			transition-delay 0ms
		&:after
			transform scale(1)
			opacity 1
			transition-delay 100ms
			transition-duration 200ms
			transition-timing-function cubic-bezier(.5,.3,.8,2)

	input[type='checkbox']:not(:disabled):active + label
		&:before
			transform scale(.95)
			transition-duration 50ms
		&:after
			transform scale(.95)
			transition-duration 50ms

	input[type='checkbox']:disabled + label
		&:before
		&:after
			opacity .5
