$inp
	display block
	border 1px solid $colorBd
	padding 19px 25px
	background $colorWhite
	color $colorText
	font-family inherit
	font-size 16px
	line-height (20/16)
	width 100%
	border-radius 4px
	appearance none
	transition background $t, border-color $t

	&--smaller
		padding 9px 25px

	// STATES
	&:disabled
		background $colorBg
	&:focus
		border-color $colorText

	.has-error &
		border-color $colorRed


	// @media $MQ.smDown
	// 	padding 10px 25px
