$btnHeight = 60 // without unit
$btnFontSize = 18 // without unit
$btnLineHeight = 18 // without unit
$btnBorderWidth = 1px
$btnPaddingX = 20 // without unit

$btnSmallerHeight = 40 // without unit
$btnSmallerFontSize = 16 // without unit
$btnSmallerLineHeight = 16 // without unit
$btnSmallerBorderWidth = 1px
$btnSmallerPaddingX = 20 // without unit

generateBtnSize($height, $fontSize, $lineHeight, $borderWidth, $paddingX)
	border $borderWidth solid transparent
	padding \
		'calc(%s - %s)' % (em(($height - $lineHeight) / 2, $fontSize) $borderWidth) \
		em($paddingX, $fontSize)
	font-size ($fontSize * 1px)
	line-height ($lineHeight / $fontSize)


.btn
	$s = selector()
	button-reset()
	border-radius 4px
	text-decoration none
	transition box-shadow $t
	&__text
		position relative
		display block
		generateBtnSize($btnHeight, $btnFontSize, $btnLineHeight, $btnBorderWidth, $btnPaddingX)
		border-radius 4px
		font-weight 700
		background $colorGrayBtnBg
		color $colorGrayBtnText
		text-decoration none
		text-align center
		box-shadow inset 0 0 0 50vmax rgba($colorWhite, 0)
		transition box-shadow $t, background $t, border-color $t, color $t

	// COLOURS
	&--primary &__text
		background $colorPrimary
		color $colorWhite
	&--secondary &__text
		background $colorSecondary
		color $colorWhite
	&--white &__text
		background $colorWhite
		color $colorPrimary
	&--facebook &__text
		background $colorFacebook
		color $colorWhite

	&--shadow
		box-shadow 0 1.5em 3em -.5em rgba($colorBlack, .25)

	// SIZES
	&--smaller &__text
		generateBtnSize($btnSmallerHeight, $btnSmallerFontSize, $btnSmallerLineHeight, $btnSmallerBorderWidth, $btnSmallerPaddingX)

	// WIDTHS
	&--wider
		width 240px
		max-width 100%
	&--wide
		width 320px
		max-width 100%

	// STATES
	&:disabled
	&.is-disabled
		opacity .5
		pointer-events none

	// interaction
	.no-touchevents &--shadow:hover
	&--shadow:focus
		box-shadow 0 1.8em 3em -.5em rgba($colorBlack, .25)
	&--shadow:active:active
		box-shadow 0 1em 3em -.5em rgba($colorBlack, .25)

	.no-touchevents &:hover &__text
	&:focus &__text
		box-shadow inset 0 0 0 50vmax rgba($colorWhite, .1)
	&:active:active &__text
		box-shadow inset 0 0 0 50vmax rgba($colorBlack, .1)

	// ICON ONLY
	&--icon-only
		+generateBreakpoints(false, true, false)
			{$s}__text
				size $btnHeight
				padding 0
			{$s}__label
				vhide()
			.icon-svg
				position absolute
				left 10px
				top 10px
				right 10px
				bottom 10px
			&{$s}--smaller
				{$s}__text
					size $btnSmallerHeight
